<?xml version="1.0"?>

<window>
  <dialog_on_exit>true</dialog_on_exit>
  <dialog_on_exit_options>
    <show_shutdown_button>true</show_shutdown_button>
    <close_gui_button_text>close_gui</close_gui_button_text>
    <shutdown_button_text>shutdown</shutdown_button_text>
  </dialog_on_exit_options>
</window>
