<?xml version="1.0"?>

<window>
  <state>AAAA/wAAAAD9AAAAAQAAAAIAAALrAAACxPwCAAAAAvsAAAAMAFQAZQBzAHQAIAAxAQAAAAAAAABPAAAATwD////7AAAADABUAGUAcwB0ACAAMgEAAABUAAACcAAAAE8A////AAAAfgAAAAAAAAAEAAAABAAAAAgAAAAI/AAAAAA=</state>
  <position_x>129</position_x>
  <position_y>90</position_y>
  <width>747</width>
  <height>708</height>
</window>
<plugin filename="libTestPlugin.so">
    <title>Test 1</title>
</plugin>
<plugin filename="libTestPlugin.so">
    <title>Test 2</title>
</plugin>
