<?xml version="1.0"?>

<plugin filename="MinimalScene">
    <gz-gui>
      <title>View 1</title>
      <property type="string" key="state">docked</property>
    </gz-gui>
    <engine>ogre2</engine>
    <scene>scene</scene>
    <ambient_light>1 1 1</ambient_light>
    <background_color>0.8 0.8 0.8</background_color>
    <camera_pose>-10 5 10 0 0.5 0</camera_pose>
</plugin>
<plugin filename="InteractiveViewControl" name="Interactive view control">
  <gz-gui>
    <anchors target="View 1">
      <line own="right" target="right"/>
      <line own="top" target="top"/>
    </anchors>
    <property key="resizable" type="bool">false</property>
    <property key="width" type="double">5</property>
    <property key="height" type="double">5</property>
    <property key="state" type="string">floating</property>
    <property key="showTitleBar" type="bool">false</property>
  </gz-gui>
</plugin>
<plugin filename="MarkerManager" name="Marker Manager">
  <gz-gui>
    <anchors target="View 1">
      <line own="right" target="right"/>
      <line own="top" target="top"/>
    </anchors>
    <property key="resizable" type="bool">false</property>
    <property key="width" type="double">5</property>
    <property key="height" type="double">5</property>
    <property key="state" type="string">floating</property>
    <property key="showTitleBar" type="bool">false</property>
  </gz-gui>
</plugin>
<plugin filename="PointCloud" name="Point Cloud">
  <gz-gui>
    <title>Flat</title>
    <property type="string" key="state">docked</property>
  </gz-gui>
  <point_cloud_topic>/point_cloud</point_cloud_topic>
  <float_v_topic>/flat</float_v_topic>
</plugin>
<plugin filename="PointCloud" name="Point Cloud">
  <gz-gui>
    <title>Sum</title>
    <property type="string" key="state">docked</property>
  </gz-gui>
  <point_cloud_topic>/point_cloud</point_cloud_topic>
  <float_v_topic>/sum</float_v_topic>
</plugin>
<plugin filename="PointCloud" name="Point Cloud">
  <gz-gui>
    <title>Product</title>
    <property type="string" key="state">docked</property>
  </gz-gui>
  <point_cloud_topic>/point_cloud</point_cloud_topic>
  <float_v_topic>/product</float_v_topic>
</plugin>
