<?xml version="1.0"?>

<window>
    <width>978</width>
    <height>819</height>
</window>
<plugin filename="Scene3D" x="0" y="0" z="0" card_frame="hidden"/>
<plugin filename="Publisher" x="70" y="70" z="0" height="400" width="250" card_frame="visible"/>
<plugin filename="Publisher" x="363" y="51" z="0" height="400" width="250" card_frame="hidden"/>
<plugin filename="Publisher" x="688" y="67" z="0" height="404" width="250" card_frame="hover"/>
<plugin filename="TimePanel" x="68" y="628" z="0" height="91" width="250" card_frame="visible"/>
<plugin filename="TimePanel" x="368" y="620" z="0" height="85" width="250" card_frame="hidden"/>
<plugin filename="TimePanel" x="671" y="619" z="0" height="81" width="250" card_frame="hover"/>
