<?xml version="1.0"?>

<!-- Window -->
<window>
  <width>1000</width>
  <height>845</height>
  <default_exit_action>SHUTDOWN_SERVER</default_exit_action>
  <dialog_on_exit>true</dialog_on_exit>
  <dialog_on_exit_options>
    <prompt_text>really? žřčš</prompt_text>
    <show_shutdown_button>true</show_shutdown_button>
    <show_close_gui_button>true</show_close_gui_button>
    <shutdown_button_text>Quit Server and GUI</shutdown_button_text>
    <close_gui_button_text>Quit GUI only</close_gui_button_text>
  </dialog_on_exit_options>
</window>

<plugin filename="ShutdownButton">
<ignition-gui>
  <title>Shutdown</title>
  <property type="int" key="x">500</property>
  <property type="int" key="y">950</property>
  <property type="int" key="height">180</property>
  <property type="int" key="width">240</property>
</ignition-gui>
</plugin>

