<?xml version="1.0"?>

<window>
    <position_x>383</position_x>
    <position_y>0</position_y>
    <state>AAAA/wAAAAD9AAAAAQAAAAIAAATAAAADPPwCAAAAAfwAAAAUAAADPAAAAq8A/////AEAAAAH+wAAABAAUwBjAGUAbgBlACAAMwBEAQAAAAAAAANeAAAAAAAAAAD7AAAAEgBQAHUAYgBsAGkAcwBoAGUAcgAAAAAAAAAB4QAAAAAAAAAA+wAAABAAMwBEACAAUwBjAGUAbgBlAQAAAAAAAAK0AAAAAAAAAAD7AAAADgAzAEQAIABHAHIAaQBkAQAAArkAAAIHAAAAAAAAAAD8AAAAAAAAA3oAAAAAAP////wCAAAAAvsAAAAMAFYAaQBlAHcAIAAxAQAAAAAAAAHBAAAAAAAAAAD7AAAADABWAGkAZQB3ACAAMgEAAAHGAAABigAAAAAAAAAA/AAAAAAAAAKzAAABLAD////8AgAAAAL7AAAADgBTAGMAZQBuAGUAIAAxAQAAABQAAAGhAAABVQD////7AAAADgBTAGMAZQBuAGUAIAAyAQAAAboAAAGWAAABVQD////7AAAAEABEAGkAcwBwAGwAYQB5AHMBAAACuAAAAggAAAB7AP///wAABMAAAAAAAAAABAAAAAQAAAAIAAAACPwAAAAA</state>
    <width>1216</width>
    <height>848</height>
</window>
<plugin filename="Scene3D">
    <title>Scene 1</title>
    <engine>ogre</engine>
    <scene>scene</scene>
    <ambient_light>1 1 1</ambient_light>
    <background_color>0.8 0.8 0.8</background_color>
    <camera_pose>-6 0 6 0 0.5 0</camera_pose>
</plugin>
<plugin filename="Scene3D">
    <title>Scene 2</title>
    <scene>scene2</scene>
    <ambient_light>1 1 1</ambient_light>
    <background_color>0.8 0.3 0.8</background_color>
    <camera_pose>-6 -6 6 0 0.5 0.7</camera_pose>
</plugin>
<plugin filename="Displays">
    <displays>
        <!-- Displays for scene named "scene" (default) -->
        <display type="GridDisplay">
            <cell_count>5</cell_count>
            <pose>3.0 0 0 0 0 0</pose>
            <color>0.2 0.2 0.2 1.0</color>
        </display>
        <display type="RealtimeFactorDisplay" />

        <!-- Displays for scene named "scene2" -->
        <display type="GridDisplay">
            <title>Grid (scene2)</title>
            <scene>scene2</scene>
        </display>
    </displays>
</plugin>
