<?xml version="1.0"?>

<window>
    <position_x>384</position_x>
    <position_y>24</position_y>
    <state>AAAA/wAAAAD9AAAAAQAAAAIAAATAAAADUPwCAAAAAfwAAAAAAAADUAAAAq8A/////AEAAAAG+wAAABAAUwBjAGUAbgBlACAAMwBEAQAAAAAAAANeAAAAAAAAAAD7AAAAEgBQAHUAYgBsAGkAcwBoAGUAcgAAAAAAAAAB4QAAAAAAAAAA+wAAABAAMwBEACAAUwBjAGUAbgBlAQAAAAAAAAK0AAAAAAAAAAD7AAAADgAzAEQAIABHAHIAaQBkAQAAArkAAAIHAAAAAAAAAAD8AAAAAAAAA3oAAAEsAP////wCAAAAAvsAAAAMAFYAaQBlAHcAIAAxAQAAAAAAAAHBAAABVQD////7AAAADABWAGkAZQB3ACAAMgEAAAHGAAABigAAAVUA////+wAAABAARABpAHMAcABsAGEAeQBzAQAAA38AAAFBAAAAjAD///8AAATAAAAAAAAAAAQAAAAEAAAACAAAAAj8AAAAAA==</state>
    <width>1216</width>
    <height>848</height>
</window>
<plugin filename="Scene3D">
    <title>View 1</title>
    <engine>ogre</engine>
    <scene>scene</scene>
    <ambient_light>1 1 1</ambient_light>
    <background_color>0.8 0.8 0.8</background_color>
    <camera_pose>-16 10 16 0 0.5 0</camera_pose>
</plugin>
<plugin filename="Scene3D">
    <title>View 2</title>
    <scene>scene</scene>
    <camera_pose>-16 -16 16 0 0.5 0.7</camera_pose>
</plugin>
<plugin filename="Displays">
    <displays>
        <display type="GridDisplay"/>
        <display type="RealtimeFactorDisplay" />
    </displays>
</plugin>
