<?xml version="1.0"?>

<plugin filename="MinimalScene">
    <gz-gui>
      <title>View 1</title>
      <property type="string" key="state">docked</property>
    </gz-gui>
    <engine>ogre2</engine>
    <scene>scene</scene>
    <ambient_light>1 1 1</ambient_light>
    <background_color>0.8 0.8 0.8</background_color>
    <camera_pose>-6 3 6 0 0.5 0</camera_pose>
</plugin>
<plugin filename="InteractiveViewControl" name="Interactive view control">
  <gz-gui>
    <anchors target="View 1">
      <line own="right" target="right"/>
      <line own="top" target="top"/>
    </anchors>
    <property key="resizable" type="bool">false</property>
    <property key="width" type="double">5</property>
    <property key="height" type="double">5</property>
    <property key="state" type="string">floating</property>
    <property key="showTitleBar" type="bool">false</property>
  </gz-gui>
</plugin>
<plugin filename="GridConfig" name="Grid config">
  <gz-gui>
    <property type="string" key="state">docked</property>
  </gz-gui>
  <insert>
    <horizontal_cell_count>3</horizontal_cell_count>
    <vertical_cell_count>2</vertical_cell_count>
    <cell_length>2</cell_length>
    <pose>1 2 3  0 0 0</pose>
    <color>1 0 0 1</color>
  </insert>
  <insert>
    <horizontal_cell_count>2</horizontal_cell_count>
    <vertical_cell_count>0</vertical_cell_count>
    <cell_length>1</cell_length>
    <pose>0 0 0  0.5 0 0</pose>
    <color>0 1 0 1</color>
  </insert>
</plugin>
