<?xml version="1.0"?>

<window>
  <width>600</width>
  <height>800</height>
</window>

<plugin filename="ImageDisplay">
  <topic_picker>false</topic_picker>
  <topic>/camera</topic>
  <title>Without picker</title>
</plugin>

<!--plugin filename="ImageDisplay">
  <title>Without Flip Depth Visualization</title>
  <show_depth_flip>false</show_depth_flip>
</plugin-->

<!--plugin filename="ImageDisplay">
  <title>With picker</title>
</plugin-->
