<?xml version="1.0"?>

<window>
  <position_x>873</position_x>
  <position_y>230</position_y>
  <width>550</width>
  <height>551</height>
</window>
<plugin filename="Publisher">
    <title>1</title>
</plugin>
<plugin filename="Publisher">
    <title>2</title>
</plugin>
<plugin filename="Publisher">
    <title>3</title>
</plugin>
<plugin filename="Publisher">
    <title>4</title>
</plugin>
<plugin filename="Publisher">
    <title>5</title>
</plugin>
