<?xml version="1.0"?>

<window>
  <state>AAAA/wAAAAD9AAAAAQAAAAIAAAHeAAACJ/wBAAAAAfwAAAAAAAAB3gAAAYQA/////AIAAAAD/AAAAAAAAABZAAAAWQD////8AQAAAAP7AAAAAgAzAQAAAAAAAAB+AAAAfgD////7AAAAAgAyAQAAAIMAAAB+AAAAfgD////7AAAAAgAxAQAAAQYAAADYAAAAfgD////7AAAAAgA1AQAAAF4AAAD4AAAAWQD////7AAAAAgA0AQAAAVsAAADMAAAAWQD///8AAAHeAAAAAAAAAAQAAAAEAAAACAAAAAj8AAAAAA==</state>
  <position_x>873</position_x>
  <position_y>230</position_y>
  <width>478</width>
  <height>551</height>
</window>
<plugin filename="Publisher">
    <title>1</title>
</plugin>
<plugin filename="Publisher">
    <title>2</title>
</plugin>
<plugin filename="Publisher">
    <title>3</title>
</plugin>
<plugin filename="Publisher">
    <title>4</title>
</plugin>
<plugin filename="Publisher">
    <title>5</title>
</plugin>
