<?xml version="1.0"?>

<window>
  <width>550</width>
  <height>551</height>
  <dialog_on_exit>true</dialog_on_exit>
</window>
<plugin filename="Publisher">
    <title>1</title>
</plugin>
<plugin filename="Publisher">
    <title>2</title>
</plugin>
<plugin filename="Publisher">
    <title>3</title>
</plugin>
<plugin filename="Publisher">
    <title>4</title>
</plugin>
<plugin filename="Publisher">
    <title>5</title>
</plugin>
