<?xml version="1.0"?>

<plugin filename="Publisher">
    <title>1</title>
</plugin>
<plugin filename="Publisher">
    <title>2</title>
</plugin>
<plugin filename="Publisher">
    <title>3</title>
</plugin>
<plugin filename="Publisher">
    <title>4</title>
</plugin>
<plugin filename="Publisher">
    <title>5</title>
</plugin>
