<?xml version="1.0"?>

<plugin filename="hello_plugin">
    <title>1</title>
</plugin>
<plugin filename="hello_plugin">
    <title>2</title>
</plugin>
<plugin filename="hello_plugin">
    <title>3</title>
</plugin>
<plugin filename="hello_plugin">
    <title>4</title>
</plugin>
<plugin filename="hello_plugin">
    <title>5</title>
</plugin>
