<?xml version="1.0"?>

<plugin filename="Publisher">
 <!-- Empty plugin, try saving the config and see how this gets populated -->
</plugin>

<plugin filename="Publisher">
  <!--
    All elements within <ignition-gui> are parsed by Gazebo GUI and common to
    all plugins.
  -->
  <ignition-gui>
    <title>Publisher 1</title>

    <!--
      Properties passed directly to the QML card.
      It includes:
      * All Pane properties: https://doc.qt.io/qt-5/qml-qtquick-controls2-pane-members.html
      * All custom properties within IgnCard.qml
    -->
    <property type="bool" key="showDockButton">false</property>
    <property type="double" key="x">350</property>
    <property type="double" key="y">60</property>
    <property type="double" key="z">10</property>
    <property type="double" key="height">400</property>
    <property type="double" key="width">250</property>
    <property type="bool" key="enabled">false</property>
  </ignition-gui>
</plugin>

<plugin filename="Publisher">
  <ignition-gui>
    <title>Publisher 2</title>
    <property type="bool" key="showTitleBar">false</property>
    <property type="bool" key="resizable">false</property>
    <property type="double" key="x">700</property>
    <property type="double" key="y">70</property>
    <property type="double" key="z">0</property>
    <property type="double" key="height">500</property>
    <property type="double" key="width">300</property>
    <property type="double" key="rotation">30</property>
    <property type="double" key="scale">0.8</property>
  </ignition-gui>
</plugin>

<plugin filename="Publisher">
  <ignition-gui>
    <title>Hidden publisher</title>
    <property type="bool" key="visible">false</property>
  </ignition-gui>
</plugin>

<plugin filename="Publisher">
  <ignition-gui>
    <title>Collapsed publisher</title>
    <property key="width" type="double">250</property>
    <property key="height" type="double">50</property>
    <property key="state" type="string">docked_collapsed</property>
    <property key="showCollapseButton" type="bool">true</property>
    <property key="showTitleBar" type="bool">true</property>
  </ignition-gui>
</plugin>
