<?xml version="1.0"?>

<!--
  Instead of automatically populating the plugins menu with all plugins
  found in paths, only show plugins in the <show> tags.
  Note that plugins must be in the path to be listed and/or loaded.
-->

<window>
  <menus>
    <plugins from_paths="false">
      <show>Publisher</show>
    </plugins>
  </menus>
</window>
