<?xml version="1.0"?>

<plugin filename="Publisher">
  <ignition-gui>
    <title>Publisher 1</title>
    <show_dock_button>false</show_dock_button>
    <x>9</x>
    <y>60</y>
    <z>10</z>
    <height>400</height>
    <width>250</width>
  </ignition-gui>
</plugin>

<plugin filename="Publisher">
  <ignition-gui>
    <title>Publisher 2</title>
    <show_title_bar>false</show_title_bar>
    <resizable>false</resizable>
    <x>350</x>
    <y>70</y>
    <z>0</z>
    <height>500</height>
    <width>300</width>
  </ignition-gui>
</plugin>
