<?xml version="1.0"?>

<window>
  <width>600</width>
  <height>800</height>
</window>

<plugin filename="Publisher">
  <ignition-gui>
    <x>9</x>
    <y>50</y>
    <z>0</z>
    <height>400</height>
    <width>250</width>
  </ignition-gui>
</plugin>

<plugin filename="TopicEcho">
  <ignition-gui>
    <x>275</x>
    <y>50</y>
    <z>0</z>
    <height>687</height>
    <width>300</width>
  </ignition-gui>
</plugin>
