<?xml version="1.0"?>

<window>
  <width>602</width>
  <height>767</height>
  <style
    material_theme="Dark"
    material_primary="Yellow"
    material_accent="#ff5555"
  />
</window>
<plugin filename="Publisher" x="9" y="8" z="0" height="400" width="250"/>
<plugin filename="TopicEcho" x="275" y="10" z="0" height="687" width="300"/>
