<?xml version="1.0"?>

<window>
    <width>1216</width>
    <height>894</height>
</window>
<plugin filename="MinimalScene">
    <ignition-gui>
      <title>View 1</title>
      <property type="string" key="state">docked</property>
    </ignition-gui>
    <engine>ogre2</engine>
    <scene>scene</scene>
    <ambient_light>1 1 1</ambient_light>
    <background_color>0.8 0.8 0.8</background_color>
    <camera_pose>-6 0 6 0 0.5 0</camera_pose>
</plugin>
<plugin filename="InteractiveViewControl" name="Interactive view control">
  <ignition-gui>
    <anchors target="View 1">
      <line own="right" target="right"/>
      <line own="top" target="top"/>
    </anchors>
    <property key="resizable" type="bool">false</property>
    <property key="width" type="double">5</property>
    <property key="height" type="double">5</property>
    <property key="state" type="string">floating</property>
    <property key="showTitleBar" type="bool">false</property>
  </ignition-gui>
</plugin>
<plugin filename="TransportSceneManager" name="Transport Scene Manager">
  <ignition-gui>
    <anchors target="View 1">
      <line own="right" target="right"/>
      <line own="top" target="top"/>
    </anchors>
    <property key="resizable" type="bool">false</property>
    <property key="width" type="double">5</property>
    <property key="height" type="double">5</property>
    <property key="state" type="string">floating</property>
    <property key="showTitleBar" type="bool">false</property>
  </ignition-gui>
  <service>/example/scene</service>
  <pose_topic>/example/pose</pose_topic>
  <deletion_topic>/example/delete</deletion_topic>
  <scene_topic>/example/scene</scene_topic>
</plugin>
<plugin filename="CameraTracking" name="Camera tracking">
  <ignition-gui>
    <anchors target="View 1">
      <line own="right" target="right"/>
      <line own="top" target="top"/>
    </anchors>
    <property key="resizable" type="bool">false</property>
    <property key="width" type="double">5</property>
    <property key="height" type="double">5</property>
    <property key="state" type="string">floating</property>
    <property key="showTitleBar" type="bool">false</property>
  </ignition-gui>
</plugin>
<plugin filename="WorldControl">
  <ignition-gui>
    <title>Controls</title>
    <property type="bool" key="showTitleBar">false</property>
    <property type="bool" key="resizable">false</property>
    <property type="double" key="height">72</property>
    <property type="double" key="width">121</property>
    <property type="double" key="z">1</property>

    <property type="string" key="state">floating</property>
    <anchors target="View 1">
      <line own="left" target="left"/>
      <line own="bottom" target="bottom"/>
    </anchors>
  </ignition-gui>
  <play_pause>true</play_pause>
  <step>true</step>
  <start_paused>false</start_paused>
  <service>/world_control</service>
  <stats_topic>/world_stats</stats_topic>
</plugin>

<plugin filename="WorldStats">
  <ignition-gui>
    <title>Stats</title>
    <property type="bool" key="showTitleBar">false</property>
    <property type="bool" key="resizable">false</property>
    <property type="double" key="height">110</property>
    <property type="double" key="width">290</property>
    <property type="double" key="z">1</property>

    <property type="string" key="state">floating</property>
    <anchors target="View 1">
      <line own="right" target="right"/>
      <line own="bottom" target="bottom"/>
    </anchors>
  </ignition-gui>
  <sim_time>true</sim_time>
  <real_time>true</real_time>
  <real_time_factor>true</real_time_factor>
  <iterations>true</iterations>
  <topic>/world_stats</topic>
</plugin>
