<?xml version="1.0"?>

<window>
    <position_x>815</position_x>
    <position_y>341</position_y>
    <state>AAAA/wAAAAD9AAAAAQAAAAIAAATAAAADfvwCAAAAAfwAAAAAAAADfgAAArUA/////AEAAAAF+wAAABAAUwBjAGUAbgBlACAAMwBEAQAAAAAAAANeAAAAAAAAAAD7AAAAEgBQAHUAYgBsAGkAcwBoAGUAcgAAAAAAAAAB4QAAAAAAAAAA+wAAABAAMwBEACAAUwBjAGUAbgBlAQAAAAAAAAK0AAAAAAAAAAD7AAAADgAzAEQAIABHAHIAaQBkAQAAArkAAAIHAAAAAAAAAAD8AAAAAAAABMAAAAEsAP////wCAAAAAvsAAAAMAFYAaQBlAHcAIAAxAQAAAAAAAAHZAAABWAD////7AAAADABWAGkAZQB3ACAAMgEAAAHeAAABoAAAAVgA////AAAEwAAAAAAAAAAEAAAABAAAAAgAAAAI/AAAAAA=</state>
    <width>1216</width>
    <height>894</height>
</window>
<plugin filename="Scene3D">
    <title>View 1</title>
    <engine>ogre</engine>
    <scene>scene</scene>
    <ambient_light>1 1 1</ambient_light>
    <background_color>0.8 0.8 0.8</background_color>
    <camera_pose>-6 0 6 0 0.5 0</camera_pose>
</plugin>
<plugin filename="Scene3D">
    <title>View 2</title>
    <scene>scene</scene>
    <camera_pose>-6 -6 6 0 0.5 0.7</camera_pose>
</plugin>
<plugin filename="Grid3D" delete_later="true">
  <engine>ogre</engine>
  <scene>scene</scene>
  <insert>
    <cell_count>5</cell_count>
    <pose>3.0 0 0 0 0 0</pose>
    <color>0.2 0.2 0.2 1.0</color>
  </insert>
</plugin>
