<?xml version="1.0"?>

<window>
  <state>AAAA/wAAAAD9AAAAAQAAAAIAAATAAAADfvwCAAAAAfwAAAAAAAADfgAAAVgA/////AEAAAAE+wAAABAAUwBjAGUAbgBlACAAMwBEAQAAAAAAAANeAAAAAAAAAAD7AAAAEgBQAHUAYgBsAGkAcwBoAGUAcgAAAAAAAAAB4QAAAAAAAAAA+wAAABAAMwBEACAAUwBjAGUAbgBlAQAAAAAAAAK0AAABLAD////7AAAADgAzAEQAIABHAHIAaQBkAQAAArkAAAIHAAAA4gD///8AAATAAAAAAAAAAAQAAAAEAAAACAAAAAj8AAAAAA==</state>
  <position_x>815</position_x>
  <position_y>341</position_y>
  <width>1216</width>
  <height>894</height>
</window>
<plugin filename="Scene3D">
  <engine>ogre</engine>
  <scene>scene</scene>
  <ambient_light>1 1 1</ambient_light>
  <background_color>0.1 0.1 0.3</background_color>
  <camera_pose>0 0 5 0 0.1 0</camera_pose>
</plugin>
<plugin filename="Grid3D" delete_later="true">
  <engine>ogre</engine>
  <scene>scene</scene>
  <insert>
    <cell_count>5</cell_count>
    <pose>3.0 0 0 0 0 0</pose>
    <color>0.1 0.8 0.1 1.0</color>
  </insert>
</plugin>
