<?xml version="1.0"?>

<window>
  <width>600</width>
  <height>800</height>
</window>

<plugin filename="Publisher">
  <gz-gui>
    <property type="int" key="z">0</property>
    <property type="int" key="height">400</property>
    <property type="int" key="width">250</property>
  </gz-gui>
</plugin>

<plugin filename="Publisher">
  <gz-gui>
    <property type="int" key="z">0</property>
    <property type="int" key="height">400</property>
    <property type="int" key="width">250</property>
  </gz-gui>
</plugin>

<plugin filename="Publisher">
  <gz-gui>
    <property type="int" key="z">0</property>
    <property type="int" key="height">400</property>
    <property type="int" key="width">250</property>
  </gz-gui>
</plugin>

<plugin filename="Publisher">
  <gz-gui>
    <property type="int" key="z">0</property>
    <property type="int" key="height">400</property>
    <property type="int" key="width">250</property>
  </gz-gui>
</plugin>

<plugin filename="Publisher">
  <gz-gui>
    <property type="int" key="z">0</property>
    <property type="int" key="height">400</property>
    <property type="int" key="width">250</property>
  </gz-gui>
</plugin>

