<?xml version="1.0"?>

<window>
  <state>AAAA/wAAAAD9AAAAAQAAAAIAAAEqAAAA3PwBAAAAAfsAAAASAFAAdQBiAGwAaQBzAGgAZQByAQAAAAAAAAEqAAABKgD///8AAAEqAAAAAAAAAAQAAAAEAAAACAAAAAj8AAAAAA==</state>
  <position_x>528</position_x>
  <position_y>280</position_y>
  <width>298</width>
  <height>220</height>
  <stylesheet>
QMainWindow {
  background-color: #300a24;
}

QLabel {
  font-family: ubuntu mono;
  color: #ffffff;
}

QDockWidget {
  font-family: ubuntu mono;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}
    </stylesheet>
</window>
<plugin filename="libPublisher.so"/>
