<?xml version="1.0"?>

<window>
  <width>602</width>
  <height>767</height>
  <style
    material_theme="Dark"
    material_primary="Yellow"
    material_accent="#ff5555"
    toolbar_color_light="#ff3333"
    toolbar_text_color_light="Blue"
    toolbar_color_dark="#aaaaff"
    toolbar_text_color_dark="Red"
    plugin_toolbar_color_light="#33ff33"
    plugin_toolbar_text_color_light="#ffff44"
    plugin_toolbar_color_dark="#ffaaff"
    plugin_toolbar_text_color_dark="Yellow"
  />
</window>

<plugin filename="Publisher"/>

<plugin filename="WorldControl">
  <ignition-gui>
    <title>Controls: all</title>
  </ignition-gui>
  <play_pause>true</play_pause>
  <step>true</step>
  <start_paused>false</start_paused>
  <service>/world_control</service>
  <stats_topic>/world_stats</stats_topic>
</plugin>
