<?xml version="1.0"?>

<plugin filename="TimePanel">
  <title>All elements</title>

  <world_control>
    <play_pause>true</play_pause>
    <start_paused>false</start_paused>
    <service>/world_control</service>
  </world_control>

  <world_stats>
    <sim_time>true</sim_time>
    <real_time>true</real_time>
    <topic>/world_stats</topic>
  </world_stats>

</plugin>

<plugin filename="TimePanel">
  <title>Only sim time</title>

  <world_stats>
    <sim_time>true</sim_time>
    <topic>/world_stats</topic>
  </world_stats>

</plugin>

<plugin filename="TimePanel">
  <title>Only play/pause</title>

  <world_control>
    <play_pause>true</play_pause>
    <start_paused>false</start_paused>
    <service>/world_control</service>
  </world_control>

</plugin>
