<?xml version="1.0"?>

<window>
  <state>AAAA/wAAAAD9AAAAAQAAAAIAAALaAAACmPwCAAAAAvsAAAAYAFQAbwBwAGkAYwBzACAAcwB0AGEAdABzAQAAAAAAAAEeAAAArAD////7AAAAEgBQAHUAYgBsAGkAcwBoAGUAcgEAAAEjAAABdQAAAQMA////AAAC2gAAAAAAAAAEAAAABAAAAAgAAAAI/AAAAAA=</state>
  <position_x>1261</position_x>
  <position_y>473</position_y>
  <width>730</width>
  <height>664</height>
</window>
<plugin filename="libTopicsStats.so"/>
<plugin filename="libPublisher.so"/>
