<?xml version="1.0"?>

<window>
  <state>AAAA/wAAAAD9AAAAAQAAAAIAAAQWAAACo/wCAAAAAfwAAAAAAAACowAAAQMA/////AEAAAAC+wAAABIAUAB1AGIAbABpAHMAaABlAHIBAAAAAAAAAfMAAAFdAP////wAAAH4AAACHgAAAH4A////+gAAAAACAAAACfsAAAAeAFMAYwBlAG4AZQAgAG8AbgAgAC8AcwBjAGUAbgBlAQAAAAD/////AAAAhwD////7AAAAMABMAGEAcwBlAHIAUwBjAGEAbgAgAG8AbgAgAC8AbABhAHMAZQByAF8AcwBjAGEAbgEAAAAA/////wAAAIcA////+wAAACoAUABsAHUAZwBpAG4AXwBWACAAbwBuACAALwBwAGwAdQBnAGkAbgBfAHYBAAAAAP////8AAAAAAAAAAPsAAAAqAFYAZQBjAHQAbwByADMAZAAgAG8AbgAgAC8AdgBlAGMAdABvAHIAMwBkAQAAAAD/////AAAAhwD////7AAAAIgBWAGkAcwB1AGEAbAAgAG8AbgAgAC8AdgBpAHMAdQBhAGwBAAAAAP////8AAACHAP////sAAAAaAFAAbwBzAGUAIABvAG4AIAAvAHAAbwBzAGUBAAAAAP////8AAACHAP////sAAAAmAFMAdQByAGYAYQBjAGUAIABvAG4AIAAvAHMAdQByAGYAYQBjAGUBAAAAAP////8AAACHAP////sAAAAkAFMAdAByAGkAbgBnAE0AcwBnACAAbwBuACAALwBlAGMAaABvAQAAAAD/////AAAAhwD////7AAAAIgBQAGwAdQBnAGkAbgAgAG8AbgAgAC8AcABsAHUAZwBpAG4BAAAAAP////8AAAAAAAAAAAAABBYAAAAAAAAABAAAAAQAAAAIAAAACPwAAAAA</state>
  <position_x>814</position_x>
  <position_y>356</position_y>
  <width>1046</width>
  <height>675</height>
</window>
<plugin filename="TopicInterface">
    <title>LaserScan on /laser_scan</title>
    <topic>/laser_scan</topic>
    <message_type>ignition.msgs.LaserScan</message_type>
</plugin>
<plugin filename="TopicInterface">
    <title>Scene on /scene</title>
    <topic>/scene</topic>
    <message_type>ignition.msgs.Scene</message_type>
</plugin>
<plugin filename="TopicInterface">
    <title>Vector3d on /vector3d</title>
    <topic>/vector3d</topic>
    <message_type>ignition.msgs.Vector3d</message_type>
</plugin>
<plugin filename="TopicInterface">
    <title>Visual on /visual</title>
    <topic>/visual</topic>
    <message_type>ignition.msgs.Visual</message_type>
</plugin>
<plugin filename="TopicInterface">
    <title>Pose on /pose</title>
    <topic>/pose</topic>
    <message_type>ignition.msgs.Pose</message_type>
</plugin>
<plugin filename="TopicInterface">
    <title>Surface on /surface</title>
    <topic>/surface</topic>
    <message_type>ignition.msgs.Surface</message_type>
</plugin>
<plugin filename="TopicInterface">
    <title>StringMsg on /echo</title>
    <topic>/echo</topic>
    <message_type>ignition.msgs.StringMsg</message_type>
</plugin>
<plugin filename="Publisher"/>
