<?xml version="1.0"?>

<plugin filename="Publisher">
</plugin>

<plugin filename="TopicInterface">
  <title>StringMsg on /echo</title>
  <topic>/echo</topic>
  <message_type>ignition.msgs.StringMsg</message_type>
</plugin>

<plugin filename="TopicInterface">
  <title>SceneMsg on /scene</title>
  <topic>/scene</topic>
  <message_type>ignition.msgs.Scene</message_type>
</plugin>
