<?xml version="1.0"?>

<window>
    <position_x>2744</position_x>
    <position_y>345</position_y>
    <state>AAAA/wAAAAD9AAAAAQAAAAIAAALAAAADZvwBAAAAAfwAAAAAAAACwAAAAsAA/////AIAAAAC+wAAACAAUABsAG8AdAB0AGkAbgBnACAAVQB0AGkAbABpAHQAeQEAAAAAAAACFwAAAgwA/////AAAAhwAAAFKAAABAwD////8AQAAAAL7AAAAEgBQAHUAYgBsAGkAcwBoAGUAcgEAAAAAAAABXQAAAV0A////+wAAABgAVABvAHAAaQBjACAAdgBpAGUAdwBlAHIBAAABYgAAAV4AAAFeAP///wAAAsAAAAAAAAAABAAAAAQAAAAIAAAACPwAAAAA</state>
    <width>704</width>
    <height>870</height>
</window>
<plugin filename="libPlot.so"/>
<plugin filename="libTopicViewer.so"/>
<plugin filename="libPublisher.so"/>
